<html>
    <body>
        <div class="med-container container-fluid text-left" ng-controller="FunctionalityCtrl">
                <h1 class="text-center bg-info">Functionality</h1>
                <h4>Welcome, {{curUser}}</h4>

                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <a href="/searchrooms"  ">Make a new reservation<a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a ng-click="addUser()">Update your reservation<a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a ng-click="addUser()">Cancel Reservation<a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a ng-click="addUser()">Provide feedback<a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a ng-click="addUser()">View feedback<a>
                            </td>
                        </tr>

                    </tbody>
                </table>


        </div>

    </body>
</html>
